
html.mb.darkmode body {
    font-family: 'Katuri', fantasy;
}

html.mb.darkmode header > #header-area > #header-bar-link {
    color: var(--colorDm);
    top: 10px;
}

html.mb.darkmode nav#nav {
    background: var(--bgcolorDm2);
}

html.mb.darkmode #board-info h1 > a::before {
    content: '';
    background: var(--defaultColor) var(--profileImg) no-repeat;
    background-size: 80px 80px;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 22px;
    top: 180px;
    margin-top: -24px;
    z-index: 100;
    border: 3px solid var(--colorDm);
    display: inline-block;
    box-shadow: 0 0 20px -5px var(--defaultColor2);
    animation-name: h1updown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

html.mb.darkmode nav#nav > .nav-header {
    background: var(--colorDm);
    color: var(--defaultColor);
}

html.mb.darkmode .dropdown.open .dropdown-menu,
html.mb.darkmode .input-group-btn.open .dropdown-menu {
    opacity: unset;
    transform: unset;
    border: 2px solid var(--colorDm);
    box-shadow: 0 0 0 2px #2b2b2b, 0 0 0 4px var(--colorDm), 0 0 0 7px #2b2b2b;
    border-radius: 6px;
}

html.mb.darkmode .dropdown .dropdown-menu,
html.mb.darkmode .input-group-btn .dropdown-menu {
    display: block !important;
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
    transition: all 0.4s cubic-bezier(0.18, 1.5, 0, 1);
    padding: 8px 0 3px 0;
}

html.mb.darkmode #latestDropdownMenu > li > a > span.delrow,
html.mb.darkmode #favoriteDropdownMenu > li > a > span.delrow {
    color: var(--colorDm);
}

html.mb.darkmode #favoriteDropdownMenu > li > a > span.label.label-default {
    background-color: var(--colorDm);
}

html.mb.darkmode .dropdown-menu .divider {
    background-color: var(--colorDm);
    height: 2px;
    margin: 3px 0;
}

html.mb.darkmode header > #header-area > a > h1 {
    background: var(--headerImgDm) no-repeat;
    background-size: auto 32px;
    width: 128px;
}

html.mb.darkmode header {
    border-bottom: 3px solid var(--colorDm) !important;
    background: var(--bgcolorDm2) !important;
}

html.mb.darkmode header > #header-search-bar #header-search-input {
    border: 2px solid var(--colorDm);
    border-radius: 15px;
}

html.mb.darkmode header > #header-area > #header-search-link {
    color: var(--colorDm);
}

html.mb.darkmode header > #header-search-bar #header-search-btn {
    color: var(--colorDm);
}

html.mb.darkmode #header-top-notice strong.notice-badge {
    background: var(--colorDm);
}

html.mb.darkmode #board-info #viewers-area {
    color: var(--colorDm);
}

html.mb.darkmode #board-info #viewers-area #viewers:before {
    content: var(--preFix);
    cursor: text;
}

html.mb.darkmode #board-info #viewers-area #viewers:after {
    content: var(--postFix);
    cursor: text;
}

html.mb.darkmode #article-list #article-list-category {
    border-top: 1px var(--colorDm);
    border-bottom: 1px var(--colorDm);
    background-color: var(--bgcolorDm2);
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 0 2px var(--colorDm),
    0 0 0 3px #2b2b2b,
    0 0 0 4px var(--colorDm);
}

html.mb.darkmode #article-list #article-list-category > a {
    background-color: var(--bgcolorDm2);
}

html.mb.darkmode #article-list > .article-list-row > .item > a.list-title > .list-writer.logged > span {
    color: var(--readTextColor);
}

html.mb.darkmode a,
html.mb.darkmode a:hover,
html.mb.darkmode a:focus {
    color: var(--colorDm);
}

html.mb.darkmode #article-list > div:nth-child(3) > div {
    background: var(--bgcolorDm2);
}

html.mb.darkmode #article-list > .article-list-row > .item {
    background: var(--bgcolorDm2) !important;
}

html.mb.darkmode #article-list > .article-list-row {
    border: 2px solid var(--colorDm) !important;
    background: var(--bgcolorDm2) !important;
    border-radius: 6px;
    margin-bottom: 0.5em;
}

html.mb.darkmode #article-list > .article-list-row.notice > .item {
    background-color: var(--bgcolorDm) !important;
}

html.mb.darkmode #article-list > .article-list-row > .item > .list-header > span {
    background-color: var(--colorDm);
}

html.mb.darkmode #article-list > .article-list-row > .item > .list-header.v0 > span {
    color: var(--bgcolorDm2);
    background: var(--bgcolorDm2);
}

html.mb.darkmode #article-list > .article-list-row > .item > a.list-title > small.comment-count {
    color: var(--colorDm);
}

html.mb.darkmode .btn-outline-success {
    color: var(--colorDm);
    border-color: var(--colorDm);
}

html.mb.darkmode #article-list-category > a.nav-link.active {
    background: #2b2b2b !important;
}

html.mb.darkmode .pagination > .active > a,
html.mb.darkmode .pagination > .active > a:focus,
html.mb.darkmode .pagination > .active > a:hover {
    border: 1px solid var(--colorDm);
}

html.mb.darkmode .pagination > li > a, .pagination > li > span {
    color: var(--colorDm);
    border: 1px solid var(--colorDm);
    border-bottom: 3px solid var(--colorDm);
}

html.mb.darkmode .pagination > .active > a,
html.mb.darkmode .pagination > .active > a:focus,
html.mb.darkmode .pagination > .active > a:hover,
html.mb.darkmode .pagination > .active > span,
html.mb.darkmode .pagination > .active > span:focus,
html.mb.darkmode .pagination > .active > span:hover {
    color: var(--defaultColor);
    background: var(--colorDm);
    margin-top: 2px;
}

html.mb.darkmode .pagination > li > a:focus,
html.mb.darkmode .pagination > li > a:hover,
html.mb.darkmode .pagination > li > span:focus,
html.mb.darkmode .pagination > li > span:hover {
    color: var(--defaultColor);
    background: var(--colorDm);
    border: 1px solid var(--colorDm);
    margin-top: 2px;
}

html.mb.darkmode #article-list #article-list-menu > .btn.write {
    position: absolute;
    right: 0;
    border: solid 1px var(--colorDm);
    border-bottom: solid 3px var(--colorDm);
    border-radius: 4px;
}

html.mb.darkmode #article-list #article-list-menu > .btn.write:hover {
    position: absolute;
    right: 0;
    border: solid 1px var(--colorDm);
    border-bottom: solid 1px var(--colorDm);
    border-radius: 4px;
}

html.mb.darkmode .btn-primary {
    background-color: #2b2b2b;
    border: 1px solid var(--colorDm);
    border-radius: 4px;
    color: var(--colorDm);
}

html.mb.darkmode .btn-primary:hover {
    color: var(--defaultColor);
    background-color: var(--colorDm);
    margin-top: 2px;
}

html.mb.darkmode .btn-primary.focus {
    color: var(--defaultColor);
    background-color: var(--colorDm);
    border-color: var(--colorDm);
}


html.mb.darkmode #article-list #article-list-menu > .btn.best {
    background-color: #2b2b2b;
    color: var(--colorDm);
    border-color: var(--colorDm);
    border-radius: 4px;
    border-bottom: solid 3px var(--colorDm);
}

html.mb.darkmode #article-list #article-list-menu > .btn.best.enable {
    border-radius: 4px;
    margin-top: 2px;
    border-bottom: solid 1px var(--colorDm);
    background-color: var(--colorDm);
    border-color: var(--colorDm);
    color: var(--defaultColor);
}

html.mb.darkmode #article-list #article-list-menu > .btn.best:hover {
    border-radius: 4px;
    background-color: var(--colorDm);
    color: var(--defaultColor);
    margin-top: 2px;
    border-bottom: solid 1px var(--colorDm);
}

html.mb.darkmode #article-list #article-list-menu > .btn.best.enable:hover {
    border-radius: 4px;
    border-bottom: solid 3px var(--colorDm);
    background: var(--defaultColor);
    border-color: var(--colorDm);
    color: var(--colorDm);
}

html.mb.darkmode #article-list > .article-list-row > .item > .list-title > a:visited {
    color: var(--readTextColor) !important;
}

html.mb.darkmode #article-list #article-list-menu > .btn.cog {
    background-color: #2b2b2b;
    color: var(--colorDm);
    border-color: var(--colorDm);
    border-radius: 4px;
    border-bottom: solid 3px var(--colorDm);
}

html.mb.darkmode #article-list #article-list-menu > .btn.cog:hover {
    border-radius: 4px;
    background-color: var(--colorDm);
    color: var(--defaultColor);
    margin-top: 2px;
    border-bottom: solid 1px var(--colorDm);
}

html.mb.darkmode #tgd-home-nav > i {
    color: var(--colorDm);
}

html.mb.darkmode #nav > hr,
html.mb.darkmode #nav > div.nav-menu-area > div.right > a:hover,
html.mb.darkmode #nav > div.nav-menu-area > div.left > a:hover,
html.mb.darkmode #nav > div.nav-menu-area > div.right > a:hover {
    color: var(--colorDm);
}