@font-face {
    font-family: 'Katuri';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes snow {
    0% {
        background-position: 0 0, 0 0, 0 0;
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

@-moz-keyframes snow {
    0% {
        background-position: 0 0, 0 0, 0 0;
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

@-webkit-keyframes snow {
    0% {
        background-position: 0 0, 0 0, 0 0;
    }

    50% {
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

@-ms-keyframes snow {
    0% {
        background-position: 0 0, 0 0, 0 0;
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

@-webkit-keyframes text1 {
    30% {
        opacity: 0.5;
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 5px 5px var(--colorDm), 0 0 0 5px rgba(255, 255, 255, 0.5);
    }
}

@-moz-keyframes text1 {
    30% {
        opacity: 0.5;
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 5px 5px var(--colorDm), 0 0 0 5px rgba(255, 255, 255, 0.5);
    }
}

@keyframes text1 {
    30% {
        opacity: 0.5;
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 5px 5px var(--colorDm), 0 0 0 5px rgba(255, 255, 255, 0.5);
    }
}

@keyframes h1updown {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(6%);
    }

    100% {
        transform: translateY(0%);
    }
}

body {
    font-family: 'Katuri', fantasy;
}

header > #header-area > #header-bar-link {
    color: var(--color);
    top: 10px;
}

nav#nav {
    background: var(--bgcolor);
}

nav#nav > .nav-header {
    background: var(--color);
    color: white;
}

#board-info h1 > a::before {
    content: '';
    background: white var(--profileImg) no-repeat;
    background-size: 80px 80px;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 22px;
    top: 180px;
    margin-top: -24px;
    z-index: 100;
    border: 3px solid var(--color);
    display: inline-block;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.8);
    animation-name: h1updown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#board-info-profile-img {
    visibility: hidden;
}

#board-info > h1 {
    margin-left: 80px;
}

#board-info #viewers-area {
    color: var(--color);
}

#board-info #viewers-area #viewers:before {
    content: var(--preFix);
    cursor: text;
}

#board-info #viewers-area #viewers:after {
    content: var(--postFix);
    cursor: text;
}

.dropdown.open .dropdown-menu,
.input-group-btn.open .dropdown-menu {
    opacity: unset;
    transform: unset;
    border: 2px solid var(--color);
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--color), 0 0 0 7px #fff;
    border-radius: 6px;
}

.dropdown .dropdown-menu,
.input-group-btn .dropdown-menu {
    display: block !important;
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
    transition: all 0.4s cubic-bezier(0.18, 1.5, 0, 1);
    padding: 8px 0 3px 0;
}

.dropdown-menu > li > a {
    transition: 0.1s;
}

.dropdown-menu > li > a:hover {
    background: transparent;
    transform: scaleX(1.04);
    transition: 0.1s;
}

#latestDropdownMenu > li > a > span.delrow,
#favoriteDropdownMenu > li > a > span.delrow {
    color: var(--color);
}

#latestDropdownMenu > li > a > span.delrow:hover,
#favoriteDropdownMenu > li > a > span.delrow:hover {
    background: transparent;
}

#favoriteDropdownMenu > li > a > span.label.label-default {
    background-color: var(--color);
}

.dropdown-menu .divider {
    background-color: var(--color);
    height: 2px;
    margin: 3px 0;
}

header > #header-area > a > h1 {
    background: var(--headerImg) no-repeat;
    background-size: auto 32px;
    width: 128px;
}

header {
    border-bottom: 3px solid var(--color);
    background: var(--bgcolor);
}

header > #header-search-bar #header-search-input {
    border: 2px solid var(--color);
    border-radius: 15px;
}

header > #header-area > #header-search-link {
    color: var(--color);
}

header > #header-search-bar #header-search-btn {
    color: var(--color);
}

#header-top-notice strong.notice-badge {
    background: var(--color);
}

#article-list #article-list-category {
    border-top: 1px var(--color);
    border-bottom: 1px var(--color);
    background-color: var(--bgcolor2);
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 0 2px var(--color),
    0 0 0 3px #fff,
    0 0 0 4px var(--color);
}

#article-list #article-list-category > a {
    background-color: var(--bgcolor2);
}

#article-list > .article-list-row > .item > a.list-title > .list-writer.logged > span {
    color: var(--textColor);
}

a,
a:hover,
a:focus {
    color: var(--color);
}

#article-list > .article-list-row {
    border: 2px solid var(--color);
    background: var(--bgcolor2);
    border-radius: 6px;
    margin-bottom: 0.5em;
}

#article-list > .article-list-row.notice {
    background-color: var(--bgcolor);
}

#article-list > .article-list-row > .item > .list-header > span {
    background-color: var(--color);
}

#article-list > .article-list-row > .item > .list-header.v0 > span {
    color: var(--bgcolor2);
    background: var(--bgcolor2);
}

#article-list > .article-list-row > .item > a.list-title > small.comment-count {
    color: var(--color);
}

.btn-outline-success {
    color: var(--color);
    border-color: var(--color);
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover {
    border: 1px solid var(--color);
}

.pagination > li > a, .pagination > li > span {
    color: var(--color);
    border: 1px solid var(--color);
    border-bottom: 3px solid var(--color);
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background: var(--color);
    margin-top: 2px;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: white;
    background: var(--color);
    border: 1px solid var(--color);
    margin-top: 2px;
}

#article-list #article-list-menu > .btn.write {
    position: absolute;
    right: 0;
    border: solid 1px var(--color);
    border-bottom: solid 3px var(--color);
    border-radius: 4px;
}

#article-list #article-list-menu > .btn.write:hover {
    position: absolute;
    right: 0;
    border: solid 1px var(--color);
    border-bottom: solid 1px var(--color);
    border-radius: 4px;
}

.btn-primary {
    background: white;
    border: 1px solid var(--color);
    border-radius: 4px;
    color: var(--color);
}

.btn-primary:hover {
    color: white;
    background-color: var(--color);
    margin-top: 2px;
}

.btn-primary.focus {
    color: white;
    background-color: var(--color);
    border-color: var(--color);
}


#article-list #article-list-menu > .btn.best {
    color: var(--color);
    border-color: var(--color);
    border-radius: 4px;
    border-bottom: solid 3px var(--color);
}

#article-list #article-list-menu > .btn.best.enable {
    border-radius: 4px;
    margin-top: 2px;
    border-bottom: solid 1px var(--color);
    background-color: var(--color);
    border-color: var(--color);
    color: white;
}

#article-list #article-list-menu > .btn.best:hover {
    border-radius: 4px;
    background-color: var(--color);
    color: white;
    margin-top: 2px;
    border-bottom: solid 1px var(--color);
}

#article-list #article-list-menu > .btn.best.enable:hover {
    border-radius: 4px;
    border-bottom: solid 3px var(--color);
    background: white;
    border-color: var(--color);
    color: var(--color);
}


#article-list #article-list-menu > .btn.cog {
    color: var(--color);
    border-color: var(--color);
    border-radius: 4px;
    border-bottom: solid 3px var(--color);
}

#article-list #article-list-menu > .btn.cog:hover {
    border-radius: 4px;
    background-color: var(--color);
    color: white;
    margin-top: 2px;
    border-bottom: solid 1px var(--color);
}

#tgd-home-nav > i {
    color: var(--color);
}

#nav > hr,
#nav > div.nav-menu-area > div.right > a:hover,
#nav > div.nav-menu-area > div.left > a:hover,
#nav > div.nav-menu-area > div.right > a:hover {
    color: var(--color);
}

#article-list > .article-list-row > .item > .list-title > a:visited {
    color: var(--readTextColor) !important;
}

#movetotop img {
    display: none
}

#movetotop {
    display: inline-block;
    opacity: 1;
    background: var(--moveToTopImg);
    width: 50px;
    height: 50px;
    background-size: contain;
}

#score-area {
    width: 0;
    visibility: hidden;
}