/* darkMode */
html.darkmode, html.darkmode body,
html.darkmode html {
    background: linear-gradient(to bottom, var(--bgcolorDm2), var(--bgcolorDm2));
    height: auto !important;
}

html.darkmode body {
    letter-spacing: -0.05em !important;
    font-family: 'Katuri', sans-serif;
    background: var(--backgroundImageDm), var(--backgroundImageDm2), var(--backgroundImageDm3);
    -webkit-animation: snow 25s linear infinite;
    -moz-animation: snow 25s linear infinite;
    -ms-animation: snow 25s linear infinite;
    animation: snow 25s linear infinite;
}

a,
a:hover,
a:focus {
    color: var(--colorDm);
}

/* 상단 메뉴 */
html.darkmode header #header-bar > .row,
html.darkmode #main .menu-wrapper,
html.darkmode #main #main-content > div.frame {
    border-radius: 10px;
    border: 3px solid var(--colorDm);
}

/*헤더 제목*/
html.darkmode header .row > div:nth-child(1) > a {
    display: block;
    width: 130px;
    height: 50px;
    background: var(--headerImgDm) no-repeat;
    background-size: auto 50px;
}

html.darkmode header #right-search-form > #right-search-btn {
    color: var(--colorDm);
}

html.darkmode header #header-bar #header-top-notice strong.notice-badge {
    background: var(--colorDm);
}

html.darkmode header #right-search-form > input[type='text'] {
    background: var(--bgcolorDm2);
    color: white;
    margin-top: 0;
    border: 3px SOLID var(--colorDm);
    border-radius: 10px;
}

html.darkmode header #right-search-form > input[type=text]:hover,
html.darkmode header #right-search-form > input[type=text]:focus {
    background: var(--bgcolorDm2);
    color: white;
    border-color: var(--textColor);
}

html.darkmode #board-info #board-info-bottom a {
    color: var(--colorDm);
}

html.darkmode #board-info h1 > a:not(.badge-live) {
    padding-left: 55px;
    font-size: 32px !important;
    color: white;
}

html.darkmode #board-info h1 > a::before {
    content: '';
    background: #242424 var(--profileImg) no-repeat;
    background-size: 105px 105px;
    width: 105px;
    height: 105px;
    position: absolute;
    left: 22px;
    top: 0;
    margin-top: -24px;
    z-index: 100;
    border: 3px solid var(--colorDm);
    display: inline-block;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.8);
    border-radius: 100%;
    animation-name: h1updown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

html.darkmode #board-info #viewers-area {
    color: var(--colorDm);
    font-size: 18px;
}

html.darkmode #board-info #viewers-area #viewers:before {
    content: var(--preFix);
    color: var(--colorDm);
    cursor: text;
    font-size: 18px;
}

html.darkmode #board-info #viewers-area #viewers:after {
    content: var(--postFix);
    color: var(--colorDm);
    cursor: text;
    font-weight: normal;
    font-size: 18px;
}

html.darkmode #viewers-area > i {
    padding-left: 3px;
    padding-top: 1px;
    color: var(--colorDm);
}

html.darkmode #board-info h1 {
    width: calc(100% - 50px);
    float: left;
    border: 50px;
}

html.darkmode #board-info img {
    float: left !important;
    border: 2px SOLID var(--colorDm);
    border-radius: 8px;
}

html.darkmode #main .menu-wrapper {
    border: 4px solid var(--colorDm);
    border-top: none !important;
}

html.darkmode #main .menu-wrapper > .header {
    background: var(--colorDm);
    color: white;
    border-radius: 8px 8px 0 0;
}

html.darkmode #main .menu-wrapper > a > em {
    color: var(--colorDm);
}

html.darkmode #main .menu-wrapper .spacer {
    background: var(--colorDm);
}

html.darkmode #main .menu-wrapper a:nth-last-child(1) {
    border-radius: 0 0 8px 8px;
}

html.darkmode .menu-wrapper > a:hover:after {
    width: 100%;
}

html.darkmode .menu-wrapper > a:first-child:after,
html.darkmode .menu-wrapper > a:nth-child(1):after,
html.darkmode .menu-wrapper > a:nth-child(2):after,
html.darkmode .menu-wrapper > a:nth-child(3):after,
html.darkmode .menu-wrapper > a:nth-child(4):after,
html.darkmode .menu-wrapper > a:nth-child(5):after,
html.darkmode .menu-wrapper > a:nth-child(6):after,
html.darkmode .menu-wrapper > a:nth-child(7):after,
html.darkmode .menu-wrapper > a:nth-child(8):after,
html.darkmode .menu-wrapper > a:nth-child(9):after,
html.darkmode .menu-wrapper > a:nth-child(10):after,
html.darkmode .menu-wrapper > a:nth-child(11):after,
html.darkmode .menu-wrapper > a:nth-child(12):after,
html.darkmode .menu-wrapper > a:nth-child(13):after,
html.darkmode .menu-wrapper > a:nth-child(14):after,
html.darkmode .menu-wrapper > a:nth-child(15):after,
html.darkmode .menu-wrapper > a:nth-child(16):after,
html.darkmode .menu-wrapper > a:nth-child(17):after,
html.darkmode .menu-wrapper > a:nth-child(18):after,
html.darkmode .menu-wrapper > a:nth-child(19):after,
html.darkmode .menu-wrapper > a:nth-child(20):after,
html.darkmode .menu-wrapper > a:last-child:after {
    background-color: var(--colorDm);
}

html.darkmode #main .menu-wrapper #fav-shortcut-area > a {
    display: block;
    width: 100%;
    border-left: 5px solid;
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html.darkmode #main .menu-wrapper #fav-shortcut-area > a {
    border-left: 0 solid white;
}

html.darkmode #main .menu-wrapper #fav-shortcut-area > a:after {
    background-color: var(--colorDm);
}

/* 게시판 목록 */
html.darkmode #main #main-content > div.frame {
    border: 3px solid var(--colorDm);
    border-radius: 10px;
}

html.darkmode #article-reply-area #reply-real-area .reply > .reply-header,
html.darkmode #article-reply-area #reply-best-area .reply > .reply-header {
    background: var(--bgcolorDm2);
}


html.darkmode #article-list > .article-list-row.notice {
    background-color: var(--bgcolorDm);
    border-radius: 5px;
    margin: 2px 0;
}

html.darkmode #article-list > .article-list-row {
    border: 2px solid var(--bgcolorDm2);
    background-color: var(--bgcolorDm2);
    border-radius: 6px;
    margin: 4px 0;
}

html.darkmode #article-list > .article-list-row > .item > .list-title > a {
    color: white !important;
    text-decoration: none;
    line-height: 18px;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 450px;
    height: 18px;
    overflow: hidden;
    margin-right: 5px;
    float: left;
}

/* 드롭다운 버튼 및 인풋 박스 */
html.darkmode .dropdown.open .dropdown-menu,
html.darkmode .input-group-btn.open .dropdown-menu {
    opacity: unset;
    transform: unset;
    border-radius: 6px;
    border: 2px solid var(--colorDm) !important;
}

html.darkmode #latestDropdownMenu > li > a > span.delrow,
html.darkmode #favoriteDropdownMenu > li > a > span.delrow {
    color: var(--colorDm);
}

html.darkmode #favoriteDropdownMenu > li > a > span.label.label-default {
    background-color: var(--colorDm);
}

html.darkmode .dropdown-menu .divider {
    background-color: var(--colorDm);
    height: 2px;
    margin: 3px 0;
}

/* 카테고리 */
html.darkmode #article-list #article-list-category {
    border: 3px solid var(--colorDm) !important;
    border-radius: 8px;
}

html.darkmode #article-list #article-list-category > a:hover,
html.darkmode #article-list #article-list-category #board-home-link-btn:hover {
    background: var(--bgcolorDm) !important;
    border-radius: 8px;
}

html.darkmode #article-list #article-list-category > a.nav-link.active,
html.darkmode #article-list #article-list-category #board-home-link-btn.active {
    background: var(--bgcolorDm) !important;
    border-radius: 8px;
}

html.darkmode #article-list #article-list-category #board-home-link-btn {
    background-color: #242424 !important;
    color: white;
}

html.darkmode #article-list > .article-list-row > .item > .list-header > span {
    background-color: var(--colorDm);
}

html.darkmode #article-list > .article-list-row > .item > .list-header.v0 > span {
    color: var(--bgcolorDm2);
    background: var(--bgcolorDm2);
}

html.darkmode #article-list > .article-list-row > .item > .list-header.v1 > strong,
html.darkmode #article-list > .article-list-row > .item > .list-header.v0 > strong {
    color: var(--colorDm);
}

html.darkmode #article-list > .article-list-row > .item > .list-title > small.comment-count {
    color: var(--colorDm);
}

html.darkmode .pagination > .active > a,
html.darkmode .pagination > .active > a:focus,
html.darkmode .pagination > .active > a:hover {
    border: 1px solid var(--colorDm);
}

html.darkmode .pagination > li > a,
html.darkmode .pagination > li > span {
    color: white;
    border: 1px solid var(--colorDm);
    border-bottom: 3px solid var(--colorDm);
}

html.darkmode .pagination > .active > a,
html.darkmode .pagination > .active > a:focus,
html.darkmode .pagination > .active > a:hover,
html.darkmode .pagination > .active > span,
html.darkmode .pagination > .active > span:focus,
html.darkmode .pagination > .active > span:hover {
    background: var(--colorDm);
    margin-top: 2px;
}

html.darkmode .pagination > li > a:focus,
html.darkmode .pagination > li > a:hover,
html.darkmode .pagination > li > span:focus,
html.darkmode .pagination > li > span:hover {
    color: white;
    background: var(--colorDm);
    border: 1px solid var(--colorDm);

    margin-top: 2px;
}

html.darkmode #article-content-wrapper > .header {
    border-top: 2px solid var(--colorDm);
}

html.darkmode #article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
html.darkmode #article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged,
html.darkmode #article-reply-area #reply-real-area .reply > .reply-header > .reply-menu > a,
html.darkmode #article-reply-area #reply-best-area .reply > .reply-header > .reply-menu > a,
html.darkmode #article-reply-area #reply-real-area .reply > .reply-header > .reply-menu > span,
html.darkmode #article-reply-area #reply-best-area .reply > .reply-header > .reply-menu > span {
    color: var(--colorDm) !important;
}

html.darkmode #article-info > h2 > span.category {
    color: var(--colorDm) !important;
}

html.darkmode #article-reply-area > .header h5 {
    color: var(--colorDm);
}


html.darkmode #article-list > .article-list-row > .item > a.list-title > .list-writer.logged > span {
    color: white;
}

html.darkmode #article-list #article-list-menu > .btn.write {
    position: absolute;
    right: 0;
    border: solid 1px var(--colorDm);
    border-bottom: solid 3px var(--colorDm);
    border-radius: 4px;
}

html.darkmode #article-list #article-list-menu > .btn.write:hover {
    position: absolute;
    right: 0;
    border: solid 1px var(--colorDm);
    border-bottom: solid 1px var(--colorDm);
    border-radius: 4px;
}

html.darkmode .btn-primary {
    background: transparent;
    color: var(--colorDm);
    border: 1px solid var(--colorDm);
    border-radius: 4px;

}

html.darkmode .btn-primary:hover {
    color: white;
    background-color: var(--colorDm);
    margin-top: 2px;
}

html.darkmode .btn-primary.focus,
html.darkmode .btn-primary:focus {
    color: white;
    background-color: var(--colorDm);
    border-color: var(--colorDm);
}

html.darkmode .btn-outline-success {
    color: var(--colorDm);
    border-color: var(--colorDm);
}

html.darkmode #article-list #article-list-menu > .btn.best {
    border-radius: 4px;
    border-bottom: solid 3px var(--colorDm);
    border-color: var(--colorDm);
    color: var(--colorDm);
}

html.darkmode #article-list #article-list-menu > .btn.best.enable {
    border-radius: 4px;
    margin-top: 2px;
    border-bottom: solid 1px var(--colorDm);
    background-color: var(--colorDm);
    border-color: var(--colorDm);
    color: white;
}

html.darkmode #article-list #article-list-menu > .btn.best:hover {
    border-radius: 4px;
    margin-top: 2px;
    border-bottom: solid 1px var(--colorDm);
    background-color: var(--colorDm);
    border-color: var(--colorDm);
    color: white;
}

html.darkmode #article-list #article-list-menu > .btn.best.enable:hover {
    border-radius: 4px;
    border-bottom: solid 3px var(--colorDm);
    background: #242424;
    border-color: var(--colorDm);
    color: var(--colorDm);
}

html.darkmode #article-list #article-list-menu > .btn.cog {
    border-radius: 4px;
    border-bottom: solid 3px var(--colorDm);
    border-color: var(--colorDm);
    color: var(--colorDm);
}

html.darkmode #article-list #article-list-menu > .btn.cog:hover {
    border-radius: 4px;
    margin-top: 2px;
    border-bottom: solid 1px var(--colorDm);
    background-color: var(--colorDm);
    border-color: var(--colorDm);
    color: white;
}

html.darkmode #article-list #article-list-menu > .btn.del {
    border-radius: 4px;
    border-bottom: solid 3px var(--colorDm);
    background-color: transparent;
    border-color: var(--colorDm);
    color: var(--colorDm);
}

html.darkmode #article-list #article-list-menu > .btn.del:hover {
    border-radius: 4px;
    margin-top: 2px;
    border-bottom: solid 1px var(--colorDm);
    background-color: var(--colorDm);
    border-color: var(--colorDm);
    color: white;
}

html.darkmode .fa-square:before {
    color: var(--colorDm);
}

html.darkmode #article-list > .article-list-row > .item > .list-title > a:visited {
    color: var(--readTextColor) !important;
}

html.darkmode .pagination > .active > a,
html.darkmode .pagination > .active > a:focus,
html.darkmode .pagination > .active > a:hover,
html.darkmode .pagination > .active > span,
html.darkmode .pagination > .active > span:focus,
html.darkmode .pagination > .active > span:hover {
    background-color: var(--colorDm);
    border-color: var(--colorDm);
}

html.darkmode .form-control {
    border: 1px solid var(--colorDm);
}

html.darkmode .btn.square {
    border: 1px solid var(--colorDm);
}

html.darkmode header #tgd-home-nav {
    color: var(--colorDm);
}