:root {
    /*하이퍼파라미터*/
    /* 위로가기 이미지 */
    --moveToTopImg: url(https://now-start.github.io/twitchCss/resource/satou_0409_0401/moveToTopImg.png);
    --profileName: "";
    /* 프로필 이미지 */
    --profileImg: url(https://now-start.github.io/twitchCss/resource/satou_0409_0401/profileImg.png);
    /* 접속자 수 앞 문구 */
    --preFix: "흑화한 오짱단 ";
    /* 접속자 수 뒤 문구 */
    --postFix: "명이 치즈냥 시공의 폭풍으로 데려가는 중";
    /*글자색*/
    --textColor: #7c9793;
    --readTextColor: #adadad;
    --defaultColor : #000000;
    --defaultColor2 : #808080;

    /* 특수 파라미터 */
    --animation: rotate;
    --animationCount: 0.1s;

    /*일반모드 파라미터*/
    /* 트게더 문구 */
    --headerImg: url(https://now-start.github.io/twitchCss/resource/satou_0409_0401/headerImg.png);
    /* 커서 이미지 */
    --cursorImg: url(https://now-start.github.io/twitchCss/resource/satou_0409_0401/cusorImg.png);
    /*배경 애니메이션*/
    --backgroundImage: url(https://now-start.github.io/twitchCss/resource/satou_0409_0401/backgroundImg.png);
    --backgroundImage2: url(https://now-start.github.io/twitchCss/resource/satou_0409_0401/backgroundImg.png);
    /* 색상 (줄) */
    --color: #00564d;
    /* 색상 (노티 배경) */
    --bgcolor: #00144d;
    /* 색상 (게시판 배경)*/
    --bgcolor2: #000926;

    /*다크모드 파라미터*/
    --headerImgDm: url(https://now-start.github.io/twitchCss/resource/satou_0409_0401/headerImgDm.png);
    --cursorImgDm: url(https://now-start.github.io/twitchCss/resource/satou_0409_0401/cusorImgDm.png);
    --backgroundImageDm: url(https://now-start.github.io/twitchCss/resource/common/backgroundImg/darkmode/stars1.png);
    --backgroundImageDm2: url(https://now-start.github.io/twitchCss/resource/common/backgroundImg/darkmode/stars2.png);
    --backgroundImageDm3: url(https://now-start.github.io/twitchCss/resource/common/backgroundImg/darkmode/stars3.png);
    --colorDm: invert(#419D9D);
    --bgcolorDm: #3e3e72;
    --bgcolorDm2: #242434;
}
